::-webkit-scrollbar {
  height: 1.4vw;
  width: 1.5vw;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #393c48;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-button:vertical:start:decrement {
  height: 5%;
  background: linear-gradient(0deg, #111313 12%, transparent 0), linear-gradient(145deg, #393c48 42%, transparent 0), linear-gradient(215deg, #393c48 42%, transparent 0), linear-gradient(0deg, #393c48 42%, transparent 0);
  background-color: #31323c;
}

::-webkit-scrollbar-button:vertical:start:decrement:hover {
  background: linear-gradient(0deg, #111313 12%, transparent 0), linear-gradient(145deg, #505066 42%, transparent 0), linear-gradient(215deg, #505066 42%, transparent 0), linear-gradient(0deg, #505066 42%, transparent 0);
  background-color: #414151;
}

::-webkit-scrollbar-button:vertical:start:decrement:active {
  background: linear-gradient(0deg, #111313 12%, transparent 0), linear-gradient(145deg, #9695b3 42%, transparent 0), linear-gradient(215deg, #9695b3 42%, transparent 0), linear-gradient(0deg, #9695b3 42%, transparent 0);
  background-color: #73758b;
}

::-webkit-scrollbar-button:vertical:end:increment {
  height: 7%;
  background: linear-gradient(180deg, #111313 12%, transparent 0), linear-gradient(180deg, #393c48 30%, transparent 0), linear-gradient(0deg, transparent 28%, #393c48 0, #393c48 50%, transparent 0), linear-gradient(145deg, transparent 48%, #393c48 0, #393c48 68%, transparent 0), linear-gradient(215deg, #31323c 48%, transparent 0), linear-gradient(140deg, #393c48 68%, transparent 70%);
}

::-webkit-scrollbar-button:vertical:end:increment:hover {
  background: linear-gradient(180deg, #111313 12%, transparent 0), linear-gradient(180deg, #505066 30%, transparent 0), linear-gradient(0deg, transparent 28%, #505066 0, #505066 50%, transparent 0), linear-gradient(145deg, transparent 48%, #505066 0, #505066 68%, transparent 0), linear-gradient(215deg, #414151 48%, transparent 0), linear-gradient(140deg, #505066 68%, transparent 70%);
}

::-webkit-scrollbar-button:vertical:end:increment:active {
  background: linear-gradient(180deg, #111313 12%, transparent 0), linear-gradient(180deg, #9695b3 30%, transparent 0), linear-gradient(0deg, transparent 28%, #9695b3 0, #9695b3 50%, transparent 0), linear-gradient(145deg, transparent 48%, #9695b3 0, #9695b3 68%, transparent 0), linear-gradient(215deg, #73758b 48%, transparent 0), linear-gradient(140deg, #9695b3 68%, transparent 70%);
}

::-webkit-scrollbar-button:horizontal:start:decrement {
  width: 5%;
  background: linear-gradient(270deg, #111313 12%, transparent 0), linear-gradient(45deg, #393c48 40%, transparent 0), linear-gradient(135deg, #393c48 40%, transparent 0), linear-gradient(270deg, #393c48 42%, transparent 0);
  background-color: #31323c;
}

::-webkit-scrollbar-button:horizontal:start:decrement:hover {
  background: linear-gradient(270deg, #111313 12%, transparent 0), linear-gradient(45deg, #505066 40%, transparent 0), linear-gradient(135deg, #505066 40%, transparent 0), linear-gradient(270deg, #505066 42%, transparent 0);
  background-color: #414151;
}

::-webkit-scrollbar-button:horizontal:start:decrement:active {
  background: linear-gradient(270deg, #111313 12%, transparent 0), linear-gradient(45deg, #9695b3 40%, transparent 0), linear-gradient(135deg, #9695b3 40%, transparent 0), linear-gradient(270deg, #9695b3 42%, transparent 0);
  background-color: #73758b;
}

::-webkit-scrollbar-button:horizontal:end:increment {
  width: 5%;
  background: linear-gradient(90deg, #111313 12%, transparent 0), linear-gradient(225deg, #393c48 40%, transparent 0), linear-gradient(315deg, #393c48 40%, transparent 0), linear-gradient(90deg, #393c48 42%, transparent 0);
  background-color: #31323c;
}

::-webkit-scrollbar-button:horizontal:end:increment:hover {
  background: linear-gradient(90deg, #111313 12%, transparent 0), linear-gradient(225deg, #505066 40%, transparent 0), linear-gradient(315deg, #505066 40%, transparent 0), linear-gradient(90deg, #505066 42%, transparent 0);
  background-color: #414151;
}

::-webkit-scrollbar-button:horizontal:end:increment:active {
  background: linear-gradient(90deg, #111313 12%, transparent 0), linear-gradient(225deg, #9695b3 40%, transparent 0), linear-gradient(315deg, #9695b3 40%, transparent 0), linear-gradient(90deg, #9695b3 42%, transparent 0);
  background-color: #73758b;
}

audio {
  height: 3.5%;
  width: 40%;
  bottom: 1%;
  position: absolute;
}

audio::-webkit-media-controls-panel {
  background: #393c48;
}

@-webkit-keyframes cursor {
  0% {
    cursor: url(../image/cursor/1.png), auto;
  }
  14% {
    cursor: url(../image/cursor/2.png), auto;
  }
  29% {
    cursor: url(../image/cursor/3.png), auto;
  }
  43% {
    cursor: url(../image/cursor/4.png), auto;
  }
  57% {
    cursor: url(../image/cursor/5.png), auto;
  }
  71% {
    cursor: url(../image/cursor/6.png), auto;
  }
  86% {
    cursor: url(../image/cursor/7.png), auto;
  }
  100% {
    cursor: url(../image/cursor/8.png), auto;
  }
}

@keyframes cursor {
  0% {
    cursor: url(../image/cursor/1.png), auto;
  }
  14% {
    cursor: url(../image/cursor/2.png), auto;
  }
  29% {
    cursor: url(../image/cursor/3.png), auto;
  }
  43% {
    cursor: url(../image/cursor/4.png), auto;
  }
  57% {
    cursor: url(../image/cursor/5.png), auto;
  }
  71% {
    cursor: url(../image/cursor/6.png), auto;
  }
  86% {
    cursor: url(../image/cursor/7.png), auto;
  }
  100% {
    cursor: url(../image/cursor/8.png), auto;
  }
}

* {
  cursor: url(../image/cursor/1.png), auto;
  -webkit-animation: cursor 480ms infinite;
  animation: cursor 480ms infinite;
}

*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: "Roboto";
}

body, p, ul, li, ol {
  margin: 0;
  padding: 0;
}

ul, li, ol {
  list-style-type: none;
}

section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: center/cover no-repeat url(../image/background.jpg);
}

section .pda_empty {
  width: 85%;
  position: relative;
}

section .pda_empty img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

section .pda_empty .main {
  height: 100%;
  width: 100%;
  padding: 7.3% 14.4% 8.5% 10.6%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
}

section .pda_empty .main .tasks {
  height: 94%;
  margin-top: -0.2%;
  padding-bottom: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: top/contain no-repeat url(../image/tasks/tasks.png);
}

section .pda_empty .main .tasks .tasks_left {
  width: 47%;
  margin-top: 1.9%;
  padding: 0 3% 0 1.4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .pda_empty .main .tasks .tasks_left .tasks_left_title {
  height: 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .pda_empty .main .tasks .tasks_left .tasks_left_title .tasks_left_title_text {
  padding: 1% 0 0 4.4%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.25vw;
  font-weight: 500;
  color: #d2d2d2;
}

section .pda_empty .main .tasks .tasks_left .tasks_left_title .tasks_left_title_image {
  width: 13%;
  background: center/50% no-repeat url(../image/tasks/load.gif);
}

section .pda_empty .main .tasks .tasks_left .tasks_left_menu {
  height: 94%;
  margin-right: 0.2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed {
  width: 100%;
  margin: 1.5% 0 0.3% 0;
  overflow-y: scroll;
}

section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_active_list,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_completed_list,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_failed_list,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_active_list,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_completed_list,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_failed_list,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_active_list,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_completed_list,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_failed_list {
  height: 91%;
  width: 93%;
  margin: 3.8% 0 0 3%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_active_list ol,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_completed_list ol,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_failed_list ol,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_active_list ol,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_completed_list ol,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_failed_list ol,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_active_list ol,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_completed_list ol,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_failed_list ol {
  margin-bottom: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_active_list ol .task_title,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_completed_list ol .task_title,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_failed_list ol .task_title,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_active_list ol .task_title,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_completed_list ol .task_title,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_failed_list ol .task_title,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_active_list ol .task_title,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_completed_list ol .task_title,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_failed_list ol .task_title {
  height: 13%;
  margin-bottom: 2.8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_active_list ol .task_title img,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_completed_list ol .task_title img,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_failed_list ol .task_title img,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_active_list ol .task_title img,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_completed_list ol .task_title img,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_failed_list ol .task_title img,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_active_list ol .task_title img,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_completed_list ol .task_title img,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_failed_list ol .task_title img {
  width: 29%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_active_list ol .task_title .task_title_text,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_completed_list ol .task_title .task_title_text,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_failed_list ol .task_title .task_title_text,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_active_list ol .task_title .task_title_text,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_completed_list ol .task_title .task_title_text,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_failed_list ol .task_title .task_title_text,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_active_list ol .task_title .task_title_text,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_completed_list ol .task_title .task_title_text,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_failed_list ol .task_title .task_title_text {
  width: 61%;
  padding: 0.4% 0 0 0.6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 0.94vw;
  color: #d2d2d2;
}

section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_active_list ol .task_title .task_title_text p,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_completed_list ol .task_title .task_title_text p,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_failed_list ol .task_title .task_title_text p,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_active_list ol .task_title .task_title_text p,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_completed_list ol .task_title .task_title_text p,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_failed_list ol .task_title .task_title_text p,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_active_list ol .task_title .task_title_text p,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_completed_list ol .task_title .task_title_text p,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_failed_list ol .task_title .task_title_text p {
  margin-top: 2.5%;
  font-size: 0.76vw;
  color: #7d7d8c;
}

section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_active_list ol .task_title .task_title_info,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_completed_list ol .task_title .task_title_info,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_failed_list ol .task_title .task_title_info,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_active_list ol .task_title .task_title_info,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_completed_list ol .task_title .task_title_info,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_failed_list ol .task_title .task_title_info,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_active_list ol .task_title .task_title_info,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_completed_list ol .task_title .task_title_info,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_failed_list ol .task_title .task_title_info {
  width: 9%;
  margin-bottom: 7.5%;
  background: right/80% no-repeat url(../image/tasks/info_1.png);
}

section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_active_list ol .task_title .task_title_info:hover,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_completed_list ol .task_title .task_title_info:hover,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_failed_list ol .task_title .task_title_info:hover,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_active_list ol .task_title .task_title_info:hover,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_completed_list ol .task_title .task_title_info:hover,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_failed_list ol .task_title .task_title_info:hover,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_active_list ol .task_title .task_title_info:hover,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_completed_list ol .task_title .task_title_info:hover,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_failed_list ol .task_title .task_title_info:hover {
  background: right/80% no-repeat url(../image/tasks/info_2.png);
}

section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_active_list ol .task_title .info_3,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_completed_list ol .task_title .info_3,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_failed_list ol .task_title .info_3,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_active_list ol .task_title .info_3,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_completed_list ol .task_title .info_3,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_failed_list ol .task_title .info_3,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_active_list ol .task_title .info_3,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_completed_list ol .task_title .info_3,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_failed_list ol .task_title .info_3 {
  background: right/80% no-repeat url(../image/tasks/info_3.png);
}

section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_active_list ol .task_title .info_3:hover,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_completed_list ol .task_title .info_3:hover,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_failed_list ol .task_title .info_3:hover,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_active_list ol .task_title .info_3:hover,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_completed_list ol .task_title .info_3:hover,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_failed_list ol .task_title .info_3:hover,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_active_list ol .task_title .info_3:hover,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_completed_list ol .task_title .info_3:hover,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_failed_list ol .task_title .info_3:hover {
  background: right/80% no-repeat url(../image/tasks/info_3.png);
}

section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_active_list ol li,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_completed_list ol li,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_failed_list ol li,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_active_list ol li,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_completed_list ol li,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_failed_list ol li,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_active_list ol li,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_completed_list ol li,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_failed_list ol li {
  height: 1.14vw;
  margin-bottom: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font-size: 0.76vw;
  color: #646464;
}

section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_active_list ol li::before,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_completed_list ol li::before,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_failed_list ol li::before,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_active_list ol li::before,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_completed_list ol li::before,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_failed_list ol li::before,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_active_list ol li::before,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_completed_list ol li::before,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_failed_list ol li::before {
  content: "";
  height: 1.8vh;
  width: 0.9vw;
  margin-right: 2.2%;
  background: top/contain no-repeat url(../image/tasks/radiobutton_1.png);
}

section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_active_list ol .done,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_completed_list ol .done,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_failed_list ol .done,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_active_list ol .done,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_completed_list ol .done,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_failed_list ol .done,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_active_list ol .done,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_completed_list ol .done,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_failed_list ol .done {
  color: #7d7d8c;
}

section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_active_list ol .done::before,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_completed_list ol .done::before,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_failed_list ol .done::before,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_active_list ol .done::before,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_completed_list ol .done::before,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_failed_list ol .done::before,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_active_list ol .done::before,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_completed_list ol .done::before,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_failed_list ol .done::before {
  background: top/contain no-repeat url(../image/tasks/radiobutton_2.png);
}

section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_active_list ol .fail,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_completed_list ol .fail,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_failed_list ol .fail,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_active_list ol .fail,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_completed_list ol .fail,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_failed_list ol .fail,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_active_list ol .fail,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_completed_list ol .fail,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_failed_list ol .fail {
  color: #7d7d8c;
}

section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_active_list ol .fail::before,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_completed_list ol .fail::before,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_failed_list ol .fail::before,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_active_list ol .fail::before,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_completed_list ol .fail::before,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_failed_list ol .fail::before,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_active_list ol .fail::before,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_completed_list ol .fail::before,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_failed_list ol .fail::before {
  background: top/contain no-repeat url(../image/tasks/radiobutton_3.png);
}

section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_active_list ol .target,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_completed_list ol .target,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_failed_list ol .target,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_active_list ol .target,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_completed_list ol .target,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_failed_list ol .target,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_active_list ol .target,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_completed_list ol .target,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_failed_list ol .target {
  width: 9%;
  margin: -1.2% 0 0 auto;
  background: right/90% no-repeat url(../image/tasks/target_1.png);
}

section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_active_list ol .target:hover,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_completed_list ol .target:hover,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_failed_list ol .target:hover,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_active_list ol .target:hover,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_completed_list ol .target:hover,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_failed_list ol .target:hover,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_active_list ol .target:hover,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_completed_list ol .target:hover,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_failed_list ol .target:hover {
  background: right/90% no-repeat url(../image/tasks/target_2.png);
}

section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_active_list ol .mark::after,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_completed_list ol .mark::after,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_failed_list ol .mark::after,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_active_list ol .mark::after,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_completed_list ol .mark::after,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_failed_list ol .mark::after,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_active_list ol .mark::after,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_completed_list ol .mark::after,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_failed_list ol .mark::after {
  content: "";
  height: 145%;
  width: 10%;
  right: 7.4%;
  margin-top: -1.7%;
  position: absolute;
  background: center/contain no-repeat url(../image/tasks/mark.gif);
}

section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_active_list ol:last-child,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_completed_list ol:last-child,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_active #tasks_left_menu_failed_list ol:last-child,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_active_list ol:last-child,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_completed_list ol:last-child,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_completed #tasks_left_menu_failed_list ol:last-child,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_active_list ol:last-child,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_completed_list ol:last-child,
section .pda_empty .main .tasks .tasks_left .tasks_left_menu .tasks_left_menu_failed #tasks_left_menu_failed_list ol:last-child {
  padding-bottom: 25%;
}

section .pda_empty .main .tasks .tasks_left .tasks_left_menu #tasks_left_menu_list {
  height: 11%;
  width: 90%;
  bottom: 0;
  margin-left: 1.5%;
  padding: 0 10% 1.5% 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(84%, #111313), color-stop(0, transparent)), -webkit-gradient(linear, left bottom, left top, color-stop(87%, #222424), color-stop(0, transparent));
  background: linear-gradient(0deg, #111313 84%, transparent 0), linear-gradient(0deg, #222424 87%, transparent 0);
  background-color: #111313;
}

section .pda_empty .main .tasks .tasks_left .tasks_left_menu #tasks_left_menu_list li {
  cursor: pointer;
  font-size: 0.94vw;
  color: #646464;
}

section .pda_empty .main .tasks .tasks_left .tasks_left_menu #tasks_left_menu_list li:hover {
  color: #d2d2d2;
}

section .pda_empty .main .tasks .tasks_right {
  width: 53%;
  margin-top: 1.9%;
  padding-right: 1%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .pda_empty .main .tasks .tasks_right .tasks_right_menu {
  height: 4%;
  width: 86%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .pda_empty .main .tasks .tasks_right .tasks_right_menu .tasks_right_menu_full {
  width: 7%;
  margin-left: 0.2%;
  background: center/85% no-repeat url(../image/tasks/full_1.png);
}

section .pda_empty .main .tasks .tasks_right .tasks_right_menu .tasks_right_menu_full:hover {
  background: center/85% no-repeat url(../image/tasks/full_2.png);
}

section .pda_empty .main .tasks .tasks_right .tasks_right_menu .full_3 {
  background: center/85% no-repeat url(../image/tasks/full_3.png);
}

section .pda_empty .main .tasks .tasks_right .tasks_right_menu .full_3:hover {
  background: center/85% no-repeat url(../image/tasks/full_3.png);
}

section .pda_empty .main .tasks .tasks_right .tasks_right_menu .tasks_right_menu_player {
  width: 7%;
  margin-left: -1%;
  background: center/85% no-repeat url(../image/tasks/player_1.png);
}

section .pda_empty .main .tasks .tasks_right .tasks_right_menu .tasks_right_menu_player:hover {
  background: center/85% no-repeat url(../image/tasks/player_2.png);
}

section .pda_empty .main .tasks .tasks_right .tasks_right_menu .player_3 {
  background: center/85% no-repeat url(../image/tasks/player_3.png);
}

section .pda_empty .main .tasks .tasks_right .tasks_right_menu .player_3:hover {
  background: center/85% no-repeat url(../image/tasks/player_3.png);
}

section .pda_empty .main .tasks .tasks_right .tasks_right_menu .tasks_right_menu_plus {
  width: 7%;
  margin: 0.1% 0 0 auto;
  background: center/85% no-repeat url(../image/tasks/plus_1.png);
}

section .pda_empty .main .tasks .tasks_right .tasks_right_menu .tasks_right_menu_plus:hover {
  background: center/85% no-repeat url(../image/tasks/plus_2.png);
}

section .pda_empty .main .tasks .tasks_right .tasks_right_menu .plus_3 {
  background: center/85% no-repeat url(../image/tasks/plus_3.png);
}

section .pda_empty .main .tasks .tasks_right .tasks_right_menu .plus_3:hover {
  background: center/85% no-repeat url(../image/tasks/plus_3.png);
}

section .pda_empty .main .tasks .tasks_right .tasks_right_menu .tasks_right_menu_minus {
  width: 7%;
  margin-top: 0.1%;
  background: center/85% no-repeat url(../image/tasks/minus_1.png);
}

section .pda_empty .main .tasks .tasks_right .tasks_right_menu .tasks_right_menu_minus:hover {
  background: center/85% no-repeat url(../image/tasks/minus_2.png);
}

section .pda_empty .main .tasks .tasks_right .tasks_right_menu .minus_3 {
  background: center/85% no-repeat url(../image/tasks/minus_3.png);
}

section .pda_empty .main .tasks .tasks_right .tasks_right_menu .minus_3:hover {
  background: center/85% no-repeat url(../image/tasks/minus_3.png);
}

section .pda_empty .main .tasks .tasks_right .tasks_right_menu .tasks_right_menu_info_title {
  padding: 0.9% 0 0 3.7%;
  font-size: 0.76vw;
  color: #d2d2d2;
}

section .pda_empty .main .tasks .tasks_right .tasks_right_map {
  height: 94.5%;
  margin: 1.2% 0 0 0.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
}

section .pda_empty .main .tasks .tasks_right .tasks_right_map li {
  width: auto;
  margin: 5% 5% 7% 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.25vw;
  color: #009600;
}

section .pda_empty .main .tasks .tasks_right .tasks_right_map::-webkit-scrollbar-button:vertical:end:increment {
  height: 5%;
  background: linear-gradient(180deg, #111313 12%, transparent 0), linear-gradient(315deg, #393c48 40%, transparent 0), linear-gradient(45deg, #393c48 40%, transparent 0), linear-gradient(180deg, #393c48 42%, transparent 0);
  background-color: #31323c;
}

section .pda_empty .main .tasks .tasks_right .tasks_right_map::-webkit-scrollbar-button:vertical:end:increment:hover {
  background: linear-gradient(180deg, #111313 12%, transparent 0), linear-gradient(315deg, #505066 40%, transparent 0), linear-gradient(45deg, #505066 40%, transparent 0), linear-gradient(180deg, #505066 42%, transparent 0);
  background-color: #414151;
}

section .pda_empty .main .tasks .tasks_right .tasks_right_map::-webkit-scrollbar-button:vertical:end:increment:active {
  background: linear-gradient(180deg, #111313 12%, transparent 0), linear-gradient(315deg, #9695b3 40%, transparent 0), linear-gradient(45deg, #9695b3 40%, transparent 0), linear-gradient(180deg, #9695b3 42%, transparent 0);
  background-color: #73758b;
}

section .pda_empty .main .tasks .tasks_right .tasks_right_info {
  height: 94.5%;
  margin: 1.2% 0 0 0.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: scroll;
}

section .pda_empty .main .main_menu {
  height: 6%;
  padding-top: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .pda_empty .main .main_menu #main_menu_list {
  padding-left: 2.6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .pda_empty .main .main_menu #main_menu_list li {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.94vw;
  color: #646464;
}

section .pda_empty .main .main_menu #main_menu_list li:hover {
  color: #d2d2d2;
}

section .pda_empty .main .main_menu #main_menu_list li::before {
  content: "";
  height: 1.6vh;
  width: 0.83vw;
  margin-right: 0.2vw;
  background: center/contain no-repeat url(../image/main_menu/list_1.png);
}

section .pda_empty .main .main_menu #main_menu_list li:not(:last-child)::after {
  content: "//";
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 0.94vw;
  color: #646464;
}

section .pda_empty .main .main_menu #main_menu_list li:not(:first-child) {
  margin-left: -0.1%;
}

section .pda_empty .main .main_menu #main_menu_list .notice::before {
  background: center/contain no-repeat url(../image/main_menu/list_2.png);
}

section .pda_empty .main .main_menu time {
  padding: 0.1% 8% 0 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.94vw;
  color: #d2d2d2;
}
/*# sourceMappingURL=style.css.map */