$color_white: rgb(210, 210, 210);
$color_gray: rgb(100, 100, 100);
$color_violet: rgb(125, 125, 140);
$color_orange: rgb(230, 160, 0);
$color_green: rgb(0, 150, 0);
$size_1: 1.25vw;
$size_2: 0.95vw;
$size_3: 12px;

*, ::before {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    height: 1.5vw;
    width: 1.5vw;
    background-color: rgb(34, 33, 38);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(61, 61, 73);
}

::-webkit-scrollbar-button:vertical:start:decrement {
    background:
        linear-gradient(0deg, rgb(20, 20, 24) 10%, rgba(0, 0, 0, 0) 0),
        linear-gradient(135deg, rgb(61, 61, 73) 42%, rgba(0, 0, 0, 0) 0),
        linear-gradient(225deg, rgb(61, 61, 73) 42%, rgba(0, 0, 0, 0) 0),
        linear-gradient(0deg, rgb(61, 61, 73) 40%, rgba(0, 0, 0, 0) 0);
    background-color: rgb(48, 50, 62);
}

::-webkit-scrollbar-button:vertical:end:increment {
    background:
        linear-gradient(180deg, rgb(20, 20, 24) 10%, rgba(0, 0, 0, 0) 0),
        linear-gradient(315deg, rgb(61, 61, 73) 42%, rgba(0, 0, 0, 0) 0),
        linear-gradient(45deg, rgb(61, 61, 73) 42%, rgba(0, 0, 0, 0) 0),
        linear-gradient(180deg, rgb(61, 61, 73) 40%, rgba(0, 0, 0, 0) 0);
    background-color: rgb(48, 50, 62);
}

::-webkit-scrollbar-button:horizontal:start:decrement {
    background:
        linear-gradient(270deg, rgb(20, 20, 24) 10%, rgba(0, 0, 0, 0) 0),
        linear-gradient(45deg, rgb(61, 61, 73) 42%, rgba(0, 0, 0, 0) 0),
        linear-gradient(135deg, rgb(61, 61, 73) 42%, rgba(0, 0, 0, 0) 0),
        linear-gradient(270deg, rgb(61, 61, 73) 40%, rgba(0, 0, 0, 0) 0);
    background-color: rgb(48, 50, 62);
}

::-webkit-scrollbar-button:horizontal:end:increment {
    background:
        linear-gradient(90deg, rgb(20, 20, 24) 10%, rgba(0, 0, 0, 0) 0),
        linear-gradient(225deg, rgb(61, 61, 73) 42%, rgba(0, 0, 0, 0) 0),
        linear-gradient(315deg, rgb(61, 61, 73) 42%, rgba(0, 0, 0, 0) 0),
        linear-gradient(90deg, rgb(61, 61, 73) 40%, rgba(0, 0, 0, 0) 0);
    background-color: rgb(48, 50, 62);
}

html {
    font-family: "Roboto";
}

body, ul, li, p, h1 {
    margin: 0;
    padding: 0;
}

p {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: no-repeat center/cover url(../image/background.jpg);
    
    .pda_empty {
        width: 85%;
        position: relative;

        img {
            width: 100%;
            object-fit: contain;
        }

        .main {
            height: 100%;
            width: 100%;
            padding: 8.3% 15% 8% 11.4%;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            position: absolute;

            .tasks {
                height: 95%;
                display: flex;
                flex-direction: row;

                .tasks_left {
                    width: 47%;
                    display: flex;
                    flex-direction: column;

                    .tasks_left_title {
                        height: 6%;
                        width: 93%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;

                        .tasks_left_title_text {
                            padding-top: 1.5%;
                            padding-left: 5%;
                            align-items: center;
                            font-size: $size_1;
                            font-weight: 500;
                            color: $color_white;
                        }

                        .tasks_left_title_image {
                            width: 13%;
                            background: no-repeat center/60% url(../image/tasks_left_title_load.gif);
                        }
                    }

                    .tasks_left_menu {
                        height: 88%;
                        width: 93%;
                        margin-top: 1.5%;
                        display: flex;
                        flex-direction: row;
                        position: relative;

                        .tasks_left_menu_active {
                            height: 97.5%;
                            width: 99.8%;
                            margin-top: 0.5%;
                            display: flex;
                            position: absolute;
                            overflow-y: scroll;

                            ul {
                                height: 100%;
                                width: 100%;
                                list-style-type: none;
                                justify-content: center;
                                align-items: center;
                                display: block;
            
                                li {
                                    height: 30vh;
                                    align-items: center;
                                    justify-content: center;
                                    font-size: $size_1;
                                    color: $color_orange;
                                }

                                li:not(:first-child) {
                                    margin-left: 0;
                                }
                            }
                        }

                        .tasks_left_menu_completed {
                            height: 100%;
                            display: flex;
                            position: absolute;
                        }

                        .tasks_left_menu_failed {
                            height: 100%;
                            display: flex;
                            position: absolute;
                        }

                        ul {
                            height: 100%;
                            width: 86%;
                            list-style-type: none;
                            display: flex;
                            justify-content: center;
                            align-items: flex-end;
                            position: absolute;
        
                            li {
                                cursor: pointer;
                                align-items: center;
                                font-size: $size_2;
                                color: $color_gray;
        
                                &:hover {
                                    color: $color_white;
                                }
                            }

                            li:not(:first-child) {
                                margin-left: 8.5%;
                            }
                        }
                    }
                }

                .tasks_right {
                    width: 53%;
                    display: flex;
                    flex-direction: column;
                }
            }

            .main_menu {
                height: 5%;
                display: flex;
                justify-content: space-between;

                ul {
                    padding-left: 1.5%;
                    padding-bottom: 0.5%;
                    list-style-type: none;
                    display: flex;
                    align-items: center;

                    li {
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        font-size: $size_2;
                        color: $color_gray;

                        &:hover {
                            color: $color_white;
                        }

                        &::before {
                            content: "";
                            height: 13px;
                            width: 13px;
                            margin-right: 0.1vw;
                            background: no-repeat url(../image/main_menu_list_inactive.png);
                        }
                    }

                    .notice_active {
                        &::before {
                            background: no-repeat url(../image/main_menu_list_active.png);                            
                        }
                    }

                    li:not(:first-child) {
                        margin-left: -0.1%;
                    }

                    p {
                        font-size: $size_2;
                        color: $color_gray;
                    }
                }
                
                time {
                    padding-top: 0.1%;
                    padding-right: 7.2%;
                    align-items: center;
                    font-size: $size_2;
                    color: $color_white;
                }
            }
        }
    }
}