$color_white: white;
$color_gray: gray;
$color_ligth_gray: white;
$color_yellow: white;
$color_green: white;
$size_1: 20px;
$size_2: 14px;
$size_3: 12px;

*, ::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

section {
    height: 100vh;
    width: 100%;
    background-position: center;
    background: no-repeat url(../image/background.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .pda_empty {
        position: relative;
        width: 90%;
        height: auto;

        img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }

        .main {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            padding: 8.3% 15% 8% 11.4%;
            display: flex;
            flex-direction: column;
        }
    }
}